@mixin background($position, $size, $repeat){
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin flex_align(){
  display: flex;
  justify-content: center;
  align-items: center;
}
